.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.textContainer{
    margin-left: 5rem;
    margin-right: 5rem;
}

@media (max-width: 750px)
{
    .textContainer{
        margin-left:2rem;
        margin-right: 2rem;
    }

    .aboutContainer{
        padding-top: 0;
    }
}